* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  background-image: url("./bg1.jpg");
}

.container {
  background-color: white;

  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.clock {
  color: #333;
  font-size: 4rem;
  padding: 1.5rem;
}

.button-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

button {
  padding: 1.25rem 2rem;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #3498db;
  color: white;
  cursor: pointer;
  font-weight: 700;
  border-radius: 30px;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}
